node_modules
.next
dist
.env
.env.local
.turbo
*.tsbuildinfo
.DS_Store
*.log
out/
coverage/
.vercel
packages/design-system/src/**/*.js
packages/design-system/src/**/*.js.map
packages/design-system/src/**/*.d.ts
packages/design-system/src/**/*.d.ts.map
